[submodule "blender-presets"]
	path = blender-presets
	url = git@gitlab.com:stilobique/blender-presets.git
[submodule "blender-addons/Advanced-Modifiers"]
	path = blender-addons/Advanced-Modifiers
	url = git@gitlab.com:stilobique-blender-addons/Advanced-Modifiers.git
[submodule "blender-addons/Icon-Header"]
	path = blender-addons/Icon-Header
	url = git@gitlab.com:stilobique-blender-addons/Icon-Header.git
[submodule "blender-addons/SubstanceBridge"]
	path = blender-addons/SubstanceBridge
	url = git@gitlab.com:stilobique-blender-addons/SubstanceBridge.git
[submodule "blender-addons/UE4-Tools"]
	path = blender-addons/UE4-Tools
	url = git@gitlab.com:stilobique-blender-addons/UE4-Tools.git
[submodule "blender-addons/UV-UI"]
	path = blender-addons/UV-UI
	url = git@gitlab.com:stilobique-blender-addons/UV-UI.git
[submodule "blender-addons/yavne"]
	path = blender-addons/yavne
	url = git@github.com:fedackb/yavne.git
[submodule "blender-addons/Multi-Object-UV-Editing"]
	path = blender-addons/Multi-Object-UV-Editing
	url = git@gitlab.com:stilobique-blender-addons/Multi-Object-UV-Editing.git
[submodule "blender-addons/blender-pyblish"]
	path = blender-addons/blender-pyblish
	url = git@gitlab.com:stilobique-blender-addons/blender-pyblish.git
[submodule "blender-modules/pyblish"]
	path = blender-modules/pyblish
	url = git@github.com:pyblish/pyblish-base.git
[submodule "blender-addons/Lock-Viewport"]
	path = blender-addons/Lock-Viewport
	url = git@gitlab.com:stilobique-blender-addons/lock-viewport.git
[submodule "blender-addons/GoB"]
	path = blender-addons/GoB
	url = git@gitlab.com:stilobique-blender-addons/gob.git
[submodule "blender-addons/UvSquares"]
	path = blender-addons/UvSquares
	url = git@github.com:Radivarig/UvSquares.git
